<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"&gt;>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"&gt;>
</head>
<body>
<div class="container mt-4">
    <h2>Admin Dashboard</h2>
    <a href="/admin/product/add" class="btn btn-success mb-3">Add New Product</a>
    <a th:href="@{/admin/orders}" class="btn btn-primary mb-3">Customer Orders</a>
    <a th:href="@{/logout}" class="btn btn-danger mb-3">Logout</a>
    <br/>
    <br/>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th><th>Name</th><th>Price</th><th>Image</th><th>Stock</th><th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <img th:src="@{/images/{img}(img=${product.imageName})}" width="100" height="80" class="img-thumbnail" />
            </td>
            <td th:text="${product.stock}"></td>
            <td>
                <a th:href="@{'/admin/product/edit/' + ${product.id}}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{'/admin/product/delete/' + ${product.id}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>