<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"&gt;>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"&gt;>
</head>
<body>
<div class="container mt-4">
    <h2>User Dashboard</h2>
    <a href="/user/cart" class="btn btn-warning float-end mb-3">🛒 View Cart</a><br/>
    <div class="row">
        <div class="col-md-4 mb-4" th:each="product : ${products}">
            <div class="card">
                <img th:src="@{'/images/' + ${product.imageName}}" class="card-img-top" width="100" height="80" >

                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.description}"></p>
                    <p><strong>₹</strong> <span th:text="${product.price}"></span></p>
                    <!--<a th:href="@{'/user/add-to-cart/' + ${product.id}}" class="btn btn-success w-100">Add to Cart</a> -->



                    <!-- Load reserved quantity from session map -->
                    <th:block th:with="reservedMap=${session.reservedStock},
reservedQty=${reservedMap != null and reservedMap[product.id] != null ? reservedMap[product.id] : 0},
availableStock=${product.stock - reservedQty}">

                        <p class="card-text text-muted">
                            Available: <span th:text="${availableStock}"></span>
                        </p>

                        <!--If available stock > 0 -->
                        <a th:if="${availableStock > 0}"
                           th:href="@{'/user/add-to-cart/' + ${product.id}}"
                           class="btn btn-primary btn-sm">
                            Add to Cart
                        </a>

                        <!-- If out of stock -->
                        <button th:if="${availableStock <= 0}" class="btn btn-secondary btn-sm" disabled>
                            Out of Stock
                        </button>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>